{% extends "base.html" %}

{% block content %}
    <div class="banner">
        <h1>CREATE PROFILE</h1>
    </div>
    <form action="" method="POST" class="form" enctype="multipart/form-data">
        {% csrf_token %}
        <div>
            <input type="text" id="name" name="name" value="{{ profile.name }}" placeholder="Name">
        </div>
        <div>
            <input type="number" id="phone" name="phone" value="{{ profile.phone_no }}" placeholder="Phone number">
        </div>
        <span>
            <img style="background:url('/static/media/resources/avatar.jpeg'); width:100px; height:100px; border-radius:100%; background-position: center; background-size: cover;" src="{{ profile.profile_image.url }}" alt="">
        </span>
        {% comment %} <div class="input"> {% endcomment %}
            <input type="file" id="image" name="image" placeholder="Image" default:"/static/media/resources/avatar.jpeg" accept="image/*"  required>
        {% comment %} </div> {% endcomment %}
        <div>
            <select id="user_type" name="user_type" placeholder="User Type" class="input">
                <option>Select Your User Type</option>
                {% for type in user_types %}
                    <option value="{{ type }}" {% if type == profile.user_type %}selected{% endif %}>
                        {{ type }}
                    </option>
                {% endfor %}
            </select>
        </div>
        <div>
            <select id="id_location" name="location" class="input">
                <option value="">Select a location</option>
                {% for location in locations %}
                    <option 
                        value="{{ location.location_id }}" 
                        {% if location.id == form.location.value %}selected{% endif %}>
                        {{ location.city }}
                    </option>
                {% endfor %}
            </select>
            {% if form.location.errors %}
                <div style="color:red;">{{ form.location.errors }}</div>
            {% endif %}
        </div>
        <button type="submit">Save</button>
    </form>
{% endblock content %}
