{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Service Portal</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jua&family=Paytone+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static "style.css" %}">
</head>
<body>
    {% block nav %}
    <nav class="nav">
        <h1>SERVICE PORTAL</h1>
        <div class="menu-icon" id="menu-toggle">☰</div>
        <div class="nav-links" id="nav-links">
            {% if user.is_authenticated %}
                {% if user.profile.user_type == 'Customer' %}
                    <a href="{% url 'Service Portal:customer' %}">DASHBOARD</a>
                    <a href="{% url 'Service Portal:my_requests' %}">MY REQUESTS</a>
                    <a href="{% url 'user:profile' %}">PROFILE</a>
                    <form action="{% url 'user:logout' %}" method="POST" style="display:inline;">
                        {% csrf_token %}
                        <input class="logoutbtn" type="submit" value="LOGOUT"/>
                    </form>
                {% elif user.profile.user_type == 'Service Provider' %}
                    <a href="{% url 'Service Portal:provider' %}">DASHBOARD</a>
                    <a href="{% url 'user:profile' %}">PROFILE</a>
                    <form action="{% url 'user:logout' %}" method="POST" style="display:inline;">
                        {% csrf_token %}
                        <button class="logoutbtn" type="submit">LOGOUT</button>
                    </form>
                {% endif %}
            {% else %}
                <a href="{% url 'user:register' %}">HOME</a>
                <a href="{% url 'user:login' %}">LOGIN</a>
            {% endif %}
        </div>
    </nav>
    
    <!-- JavaScript for Toggle Menu -->
    
    {% endblock nav %}
    {% block content %}{% endblock content %}
    {% block footer %}{% endblock footer %}
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const menuToggle = document.getElementById("menu-toggle");
            const navLinks = document.getElementById("nav-links");
    
            menuToggle.addEventListener("click", function () {
                navLinks.classList.toggle("active");
            });
        });
    </script>
</body>
</html>